/* 将标签默认的间距设为0   */
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
input,
select,
form {
    margin: 0;
    padding: 0;
}

/* 让h标签继承body内设置的字体大小 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}


/* 去掉默认的项目图标 */
ul {
    list-style: none;
}


em {
    font-style: normal;
}

a {
    text-decoration: none;
}

/* 去掉IE下，图片做链接时候产生的边框 */
img {
    border: none;
}


/* 清除margin-top塌陷和清除浮动 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}


.fl {
    float: left;
}

.fr {
    float: right;
}

/* 横排自适应排列 */
.rowcenter {
    display: flex;
    justify-content: space-between;
}

/* 水平垂直居中 */
.row-col-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 样式调整,透明度为0 */
.adjust {
    opacity: 0;
}